

.card {
    border: none !important;
    width: 15rem !important;
}
img.card-img-top.product-preview-img {
    /* border-radius: 50%;
    background-color: rgba(58,136,105,255);
    width: 13vw; */
    border-radius: 7px;
    margin: auto;
    height: 300px;
    max-height: 500px;

}

.category-tile:hover {
    transform: scale(1.05);
}

.sale__banner--container img {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.filter-tab {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 2.5vw;
    margin-bottom: 3vw;
    margin-left: 8vw;
}

select {
    background-color: #f2f2f2;
    border-radius: 15px;
    border: none;
    font-family: poppins;
    padding: 8px 14px 8px 8px;
    font-size: 0.75vw;
    color: #0e0d0d;
    width: 100%;
    max-width: 180px; /* adjust as needed */
  }
  
  /* optionally style the dropdown arrow */
  select::-ms-expand {
    display: none;
  }
  select::after {
    content: '\25BC';
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #999;
    pointer-events: none;
  }
  
  .filter-btn{
    background-color: rgb(45, 158, 45);
    color: white;
    font-family: poppins;
    border: none;
    color: white;
    padding: 0.3vw;
    font-size: 0.9vw;
    min-width: 7vw;
    border-radius: 20px;
  }

  .seemore-con{
    /* border: 2px red solid; */
    width: 85vw;
    margin: auto;
  }
  .seemore-btn{
    margin-left: auto;
    margin-top: 2vh;
    background-color: rgb(52, 51, 51);
    color: whitesmoke;
    float: right;
    border: none;
    border-radius: 7px;
    padding: 0.4vw;
    font-size: 0.8vw;
  }

  .seemore-btn a {
    text-decoration: none;
    color: whitesmoke;
  }