.home_container{
    overflow-x: hidden;
}

.category_tile {
    height: 200px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    align-items: center;
    color: white;
    font-size: 27px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 30px;
}

.category_header{
    /* border: 2px red solid; */
    font-size: 1.6vw;
    display: flex;
    font-family: 'Poppins';
    justify-content: start;
}
