.banner_container {
  margin-top: 16vh;
  /* ma */
}

.banner1_div {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}

.starbucks_res {
  width: 50vw;
  height: 100vh;
}

.banner1_inner1 {
  background-color: #2f5b4d;
  color: white;
  width: 50vw;
  height: 100vh;
  text-align: left;
  margin: auto;
}

.inner1_header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  color: rgb(192, 231, 201);
  font-size: 4.8vw;

}

.quote_left{
  margin-top: -8vh; 
  width: 3vw;
}

.quote_right{
  margin-top: -8vh; 
  width: 3vw;
}

.inner1_main {
  margin: 8% 5vw 0vw;
}

.inner1_main p {
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 160%;
}

/* CSS */
.button_49,
.button_49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALL SALE OFF';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button_49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {

  .button_49,
  .button_49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

.banner2_div {
  background-color: #d9e2df;
  height: 80vh;
  padding-top: 12vh;
}

/* .banner2_inner2{
    /* margin: 12vh 2vw;
} */

.banner2_main h1 {
  font-size: 7vw;
  color: #2f5b4d;
  text-transform: uppercase;
}

.banner2_main p {
  font-size: 3vw;
  font-weight: 600;
  color: #2f5b4d;
  text-transform: uppercase;
}

.boy_img {
  width: 28%;
  height: 90vh;
  margin-top: 20vh;
}

.worker_img {
  width: 100%;
  height: 60vh;
}

.banner3_div {
  background-color: #d9e2df;
  padding-bottom: 12vh;
}

.banner3_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.banner3_inner_btm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner3_inner_btm p {
  font-family: Poppins;
}

.banner3_quote {
  color: green;
  font-family: 'Poppins';
}

.banner3_quote p {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .banner1_div {
    display: flex;
    flex-direction: column;
  }


    .banner1_div div {
      width: 100vw;
      height: 60vh;
    }

    .inner1_header{
      font-size: 14vw;
    }

    .starbucks_res{
      width: 100vw;
      height: 60vh;
    }

  
      .inner1_main {
        margin: 8% 2vw 0vw;
      }


    .inner1_main p {
      font-size: 3.5vw;
    }

    .quote_left{
      margin-top: -2vh; 
      width: 3vw;
    }
    
    .quote_right{
      margin-top: -2vh; 
      width: 3vw;
    }

    .boy_img{
      width: 90vw;
      height: 60vh;
    }

    .banner3_inner{
      padding: 0 4vw;
    }

    .banner2_div{
      height: 3vh;
    }

    .worker_img{
      width: 90vw;
      height: 30vh;
    }

    .banner3_inner{
      display: flex;
      flex-direction: column;
      gap: 2vh;
    }
  }